In [ ]:
# 1.write a code to reverse a string
movie = "harry potter"
print(movie[ : : -1])

rettop yrrah

In [ ]:
#2.Write a code to count the number of vowels in a string.
text = "This is my first assignment"
vowel_count = 0

for char in text:
    if char.lower() in "aeiou":
        vowel_count += 1

print("Number of vowels:", vowel_count)

Number of vowels: 6

In [ ]:
#3.write a code to check if a given string is a palindrome or not.
str = "maam"
if str == str[ : :-1]:
  print("The str is a palindrome.")
else:
  print("The str is not a palindrome")

The str is a palindrome.

In [ ]:
#4.write a code to check if two given strings are anagrams of each other.
word1 = "listen"
word2 = "silent"

if(sorted(word1) == sorted(word2)):
    print("It is an anagram")
else:
    print("It is not an anagram")

It is an anagram

In [ ]:
# 5.Write a code to find all occurences of a given substring within another string.
str=input("Enter a string:")
str1=input("Enter a string:")
f=0
for i in range(len(str)):
  for j in range(len(str1)):
    if str[i]==str1[j]:
      j=j+1
    else:
      j=0
  if j==len(str1):
    f=1
    print("substring found at",i-len(str1)+1)
if f==0:
  print("substring not found")

Enter a string:this is my book
Enter a string:that was your book
substring found at -3

In [93]:
#6.Write a code to perform basic string compression using the counts of repeated characters.
text = "aabcccccaaa"
compressed = ""

count = 1
current_char = text[0]

for i in range(1, len(text)):
    if text[i] == current_char:
        count += 1
    else:
       compressed += current_char + str(count)
        current_char = text[i]
        count = 1

compressed += current_char + str(count)

print(compressed)

TypeError: 'str' object is not callable

In [ ]:
#7.Write a code to determine if a string ha all unique characters.
string = "delhi is the capital of india"


is_unique = len(set(string)) == len(string)

print(is_unique)

False

In [ ]:
# 8.Write a code to convert a given string to uppercase or lowercae.
text = "Harry potter is my fav movie"

uppercase_text = text.upper()
print(uppercase_text)

lowercase_text = text.lower()
print(lowercase_text)

HARRY POTTER IS MY FAV MOVIE
harry potter is my fav movie

In [ ]:
#9. Write a code to count the number of words in a string.
text = input("Enter a text here:")
words = text.split()
word_count = len(words)
print(f"The string has {word_count} words.")

Enter a text here:this is a beautiful program
The string has 5 words.

In [ ]:
# 10.Write a code to concatenate two strings without using the + operator.
str1 = input("Enter a str here:")
str2 = input("Enter a str here:")

result = "".join([str1, str2])
print(result)

Enter a str here:beautiful
Enter a str here:picture
beautifulpicture

In [ ]:
#11.Write a code to remove all occurrences of a specific element from a list.
my_list = [23,45,56,45,8,45,10]
element_to_remove = 45

new_list = [x for x in my_list if x != element_to_remove]
print(new_list)

[23, 56, 8, 10]

In [ ]:
#14.Write a code to reverse a list in-place without using any built-in reverse functions.
my_list = [100,70,50,30,68]
start = 0
end = len(my_list) - 1

while start < end:
    my_list[start], my_list[end] = my_list[end], my_list[start]
    start += 1
    end -= 1

print(my_list)

[68, 30, 50, 70, 100]

In [ ]:
#16.Create a code to check if a given list is sorted (either in ascending or descending order) or not.
data = [1, 2, 3, 4, 5]

n = len(data)


is_ascending = all(data[i] <= data[i+1] for i in range(n-1))


is_descending = all(data[i] >= data[i+1] for i in range(n-1))


print(is_ascending or is_descending)

True

In [ ]:
#17.Write a code to merge two sorted lists into a single sorted list.
list1 = [1, 3, 5, 7]
list2 = [2, 4, 6, 8]

merged_list = []


while list1 and list2:
  if list1[0] <= list2[0]:
    merged_list.append(list1.pop(0))
  else:
    merged_list.append(list2.pop(0))
merged_list.extend(list1)
merged_list.extend(list2)

print(merged_list)

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
#18.Implement a code to find the intersection of two given lists.
list1 =[2,8,7]
list2 =[6,8,9]
intersection = []
for element in list1:
    if element in list2 and element not in intersection:
      intersection.append(element)
print(intersection)

[8]

In [ ]:
#20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.
my_list = [1, 2, 3, 4, 5]
n = len(my_list)

for i in range(n):
    j = random.randrange(i, n)
    my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[4, 1, 3, 5, 2]

In [ ]:
#34.Write a code that takes a dictionary as input and returns a sorted version of it based on the values. you can choose whether to sort in ascending or descending order
my_dict = {"maths": 5,"science": 3,"english":7 }

sorted_dict_asc = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print(sorted_dict_asc)

sorted_dict_desc = dict(sorted(my_dict.items(), key=lambda item: item[1], reverse=True))
print(sorted_dict_desc)

{'science': 3, 'maths': 5, 'english': 7}
{'english': 7, 'maths': 5, 'science': 3}

In [ ]:
#35.Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 1, 'd': 3}
inverted_dict = {}

for key, value in my_dict.items():
  inverted_dict.setdefault(value, []).append(key)

print(inverted_dict)

{1: ['a', 'c'], 2: ['b'], 3: ['d']}

In [ ]:
#19.create a code to find the union of two lists without duplicates.
list1 = [9,8,7,5,2]
list2 = [7,5,3,4,1]

union_set = set(list1 + list2)

union_list = list(union_set)

print(union_list)

[1, 2, 3, 4, 5, 7, 8, 9]

In [ ]:
#20.Write a code to shuffle a given list randomly without using any built-in shuffle functions.
my_list = [1, 2, 3, 4, 5]
n = len(my_list)

for i in range(n):
    j = random.randrange(i, n)
    my_list[i], my_list[j] = my_list[j], my_list[i]

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
#23.Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples.

input_str1 = input("Enter elements for the first tuple, separated by commas: ")
tuple1 = tuple(map(int, input_str1.split(',')))


input_str2 = input("Enter elements for the second tuple, separated by commas: ")
tuple2 = tuple(map(int, input_str2.split(',')))

# Concatenate means to combine two or more strings,tuples, etc.
concatenated_tuple = tuple1 + tuple2
print("Concatenated Tuple:", concatenated_tuple)

Enter elements for the first tuple, separated by commas: 1, 2, 3, 4
Enter elements for the second tuple, separated by commas: 5, 6, 7, 8
Concatenated Tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#22.Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

set1_input = input("Enter the first set of integers separated by commas: ")
set1 = set(map(int, set1_input.split(',')))


set2_input = input("Enter the second set of integers separated by commas: ")
set2 = set(map(int, set2_input.split(',')))


intersection = set1.intersection(set2)
print("Intersection:", intersection)

Enter the first set of integers separated by commas: 10, 30, 50, 40
Enter the second set of integers separated by commas: 30,50, 60, 20
Intersection: {50, 30}

In [ ]:
#24.Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

set1_input = input("Enter the first set of strings separated by commas: ")
set1 = set(set1_input.split(','))


set2_input = input("Enter the second set of strings separated by commas: ")
set2 = set(set2_input.split(','))


difference = set1 - set2

print("Elements in the first set but not in the second set:", difference)

Enter the first set of strings separated by commas: apple,grapes,banana
Enter the second set of strings separated by commas: grapes, mango,
Elements in the first set but not in the second set: {'apple', 'banana'}

In [ ]:
#25.Create a code that takes a tuple and two integers as input. The function should return a new tuple containing elements from the original tuple within the specified range of indices.

tuple_input = input("Enter tuple elements separated by commas: ")
original_tuple = tuple(map(int, tuple_input.split(',')))


start_index = int(input("Enter the start index: "))
end_index = int(input("Enter the end index: "))

sliced_tuple = original_tuple[start_index:end_index]

print("Sliced Tuple:", sliced_tuple)

Enter tuple elements separated by commas: 30, 44, 70,35,20
Enter the start index: 0
Enter the end index: 4
Sliced Tuple: (30, 44, 70, 35)

In [ ]:
#26.Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.
set1_input = input("Enter the first set of characters separated by commas: ")
set1 = set(set1_input.replace(",", ""))

set2_input = input("Enter the second set of characters separated by commas: ")
set2 = set(set2_input.replace(",", ""))
union = set1.union(set2)
print("Union:", union)

Enter the first set of characters separated by commas: children, woman
Enter the second set of characters separated by commas: student, man
Union: {'m', 't', 'e', 'c', 'w', 'a', 'd', 'u', ' ', 'o', 'i', 'n', 'l', 's', 'h', 'r'}

In [ ]:
#27.Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

tuple_input = input("Enter tuple elements separated by commas: ")
my_tuple = tuple(map(int, tuple_input.split(',')))

if not my_tuple:
    min_value, max_value = None, None
else:
    min_value = min(my_tuple)
    max_value = max(my_tuple)

print("Minimum:", min_value)
print("Maximum:", max_value)

Enter tuple elements separated by commas:  3,8,6,9,15,1,0
Minimum: 0
Maximum: 15

In [ ]:
#28.Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

union = set1.union(set2)
print("Union:", union)

intersection = set1.intersection(set2)
print("Intersection:", intersection)

difference = set1.difference(set2)
print("Difference (set1 - set2):", difference)

Union: {1, 2, 3, 4, 5, 6, 7}
Intersection: {3, 4, 5}
Difference (set1 - set2): {1, 2}

In [77]:
#29.Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.
tuple_input = input("Enter tuple elements separated by commas: ")
my_tuple = tuple(map(int, tuple_input.split(',')))  # Convert input to tuple of integers

element = int(input("Enter the element to count: "))  # Get element from user

count = my_tuple.count(element)

print("Occurrences of", element, "in the tuple:", count)

Enter tuple elements separated by commas: 11, 22, 33, 22, 44, 22
Enter the element to count: 22
Occurrences of 22 in the tuple: 3

In [78]:
#30.Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

set1_input = input("Enter elements for the first set, separated by spaces: ")
set1 = set(set1_input.split())

set2_input = input("Enter elements for the second set, separated by spaces: ")
set2 = set(set2_input.split())

symmetric_difference = set1.symmetric_difference(set2)

print("Symmetric Difference:", symmetric_difference)

Enter elements for the first set, separated by spaces: polity, economics, history, geography
Enter elements for the second set, separated by spaces: maths, gk, polity, english
Symmetric Difference: {'geography', 'maths,', 'gk,', 'economics,', 'history,', 'english'}

In [85]:
#31.Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

words_input = input("Enter a list of words separated by spaces: ")

words = words_input.split()

word_frequencies = {}
for word in words:
    word_frequencies[word] = word_frequencies.get(word, 0) + 1

print(word_frequencies)

Enter a list of words separated by spaces: krishna  ganga  yamuna  ganga saraswati  ganga
{'krishna': 1, 'ganga': 3, 'yamuna': 1, 'saraswati': 1}

In [80]:
#32.Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

dict1_input = input("Enter the first dictionary as key:value pairs, separated by commas: ")
dict1 = dict(item.split(":") for item in dict1_input.split(","))

dict2_input = input("Enter the second dictionary as key:value pairs, separated by commas: ")
dict2 = dict(item.split(":") for item in dict2_input.split(","))


dict1 = {k: int(v) for k, v in dict1.items()}
dict2 = {k: int(v) for k, v in dict2.items()}

merged_dict = dict1.copy()
for key, value in dict2.items():
    merged_dict[key] = merged_dict.get(key, 0) + value

print(merged_dict)

Enter the first dictionary as key:value pairs, separated by commas: sci : 5 , eng : 2, hindi : 4
Enter the second dictionary as key:value pairs, separated by commas: social : 6, geo : 1
{'sci ': 5, ' eng ': 2, ' hindi ': 4, 'social ': 6, ' geo ': 1}

In [83]:
#33.Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value. If any of the keys do not exist in the dictionary, the function should return None.

data_input = input("Enter the nested dictionary: ")
data = eval(data_input)

keys_input = input("Enter the list of keys (comma-separated): ")
keys = keys_input.strip('[]').split(',')
keys = [key.strip().strip("'") for key in keys]

value = data
for key in keys:
     if key in value:
        value = value[key]
     else:
        value = None
        break

print(value)

Enter the nested dictionary: {"apple" : { "mango" :{"orange": 10}}}
Enter the list of keys (comma-separated): apple, mango, banana
None

In [87]:
#21.Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

input_str1 = input("Enter elements for the first tuple, separated by commas: ")
tuple1 = tuple(map(int, input_str1.split(',')))

input_str2 = input("Enter elements for the second tuple, separated by commas: ")
tuple2 = tuple(map(int, input_str2.split(',')))

common_elements = tuple(element for element in tuple1 if element in tuple2)

print("Common Elements:", common_elements)

Enter elements for the first tuple, separated by commas: 31, 18, 82, 76, 2, 7
Enter elements for the second tuple, separated by commas: 82, 31, 40, 55, 6
Common Elements: (31, 82)

In [88]:
#12.Implement a code to find the second largest number in a given list of integers.
numbers = [10, 5, 20, 15, 8]

unique_numbers = sorted(list(set(numbers)), reverse=True)

if len(unique_numbers) >= 2:
    second_largest = unique_numbers[1]
    print("The second largest number is:", second_largest)
else:
    print("The list does not have a second largest number.")

The second largest number is: 15

In [90]:
#13.Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.
my_list = [1, 2, 2, 3, 3, 3, 4, 4, 4, 5, 5]
element_counts = {}  # Initialize an empty dictionary

for element in my_list:
    element_counts[element] = element_counts.get(element, 0) + 1

print(element_counts)

{1: 1, 2: 2, 3: 3, 4: 3, 5: 2}